<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.care.stay.payinfo.PayInfoMapper">

  	<resultMap type="com.care.stay.payinfo.PayInfoDTO" id="payinfoDto">
  		<id column="cid" property="cid"/>
  	</resultMap>
  	
  	<insert id="payInfoProc" parameterType="com.care.stay.payinfo.PayInfoDTO">
  		INSERT INTO payinfo (id, mobile, name, totalprice, impuid, merchantuid) 
  		VALUES(#{id}, #{mobile}, #{name}, #{totalprice}, #{impUid}, #{merchantUid})
  	</insert>
  	
</mapper>