/* 상품목록 */


input[type="text"]{width:250px; height:35px; border:1px solid #ddd; padding:0 20px; box-sizing:border-box; -webkit-box-sizing:border-box; font-size:16px; color:#222;}
input[type="text"]::-webkit-input-placeholder {color:#7e7c7c;}
input[type="text"]:-input-placeholder {color:#7e7c7c;}
input[type="text"]:-ms-input-placeholder {color:#7e7c7c;}
input[type="text"]::-moz-input-placeholder {color:#7e7c7c;}


button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #f7323f;
  border-color: transparent;
  color: #fff;
}

.pc > .visual{
	/*margin: 0 auto;*/
}


.pc > .visual .hpTop{
	width: 1024px;
	height: 450px;
	padding: 150px 0 0 319px;
}

.pc > .visual > .hpTop > .hpTLeft,
.pc > .visual > .hpTop > .hpTRight{
	overflow:hidden;
	line-height: 200%;
}

.pc > .visual > .hpTop  > .hpTLeft {
	float:left;
	width:45%;
	
}

.pc > .visual > .hpTop  > .hpTRight{
	float:right;
	width:45%;
}

.pc > .visual .hpNav{
	width: 1024px;
	height: 55px;
	margin: 0 0 0 319px;
	
}


/* 아래는 hpNav detail  */

.hpNav .inner {
	overflow:hidden;
	position:relative;
	border-bottom:1px solid #c4c4c4;
}
.hpNav .inner button{
	/*float:left;*/
	/*line-height: 40px; */
	margin-right:30px;	
}

.hpNav .inner button.selected{
	font-weight:700; 
	color: #f7323f;
	border-bottom:3px solid #f7323f;
}


/*.hpNav > .inner*/

.reserBtn{
	cursor:pointer; 
	width:150px; 
	height:55px; 
	font-size:20px; 
	color:#111; 
	background-color: transparent;
	border-color:transparent; 
	padding:0 10px;
}
.reserBtn.clicked {
	font-weight:700;
	color:#f7323f; 
	border-bottom:3px solid #f7323f;
}


.infoBtn{
	cursor:pointer; 
	width:120px; 
	height:55px; 
	font-size:20px; 
	color:#111; 
	background-color: transparent;
	border-color:transparent; 
	padding:0 10px;
}
.infoBtn.clicked {
	font-weight:700;
	color:#f7323f; 
	border-bottom:3px solid #f7323f;
}


.revBtn{
	cursor:pointer; 
	width:100px; 
	height:55px; 
	font-size:20px; 
	color:#111; 
	background-color: transparent;
	border-color:transparent; 
	padding:0 10px;
}
.revBtn.clicked {
	font-weight:700;
	color:#de2e5f; 
	border-bottom:3px solid #f7323f;
}


main {
	margin:0 auto;
	padding: 50px 0 0 320px;
}







