/* 상품목록 */

#product{
	overflow: hidden;
}

#product > aside{
	float: left;
	width:35%;
	margin-left:50px;
	text-align: right;
}

#product > .right{
	float: left;
	width:60%;
}


#product > aside > .choice > li{
	text-decoration: none;
}

#product > .right > .sort {
   /* text-align: center;*/
    font-size: 0;
    margin: 30px 0 60px 0 ;
}

#product > .right > .sort > li {
	text-align: center;
	display:inline-block; 
	width: 140px;
	height:10px;
    list-style:none;
    background-color: #fcfcfc;
   	border-width:1px;
   	border-style:solid;
   	border-color:#E6E6E6;
    padding: 15px 0;
    line-height:10px;
   
}

#product > .right > .sort > li > a {
	text-decoration: none;
	font-size: 15px;
	color: #9c9c9c;
}

 table {
	/*margin: 0 auto;*/
    width: 50%;
    height: 300px;
   	border-width:2px;
  	border-style:solid;
  	border-color:#E6E6E6;
  	margin-bottom: 10px;
}
