/* 상품목록 */


input[type="text"]{width:250px; height:35px; border:1px solid #ddd; padding:0 20px; box-sizing:border-box; -webkit-box-sizing:border-box; font-size:16px; color:#222;}
input[type="text"]::-webkit-input-placeholder {color:#7e7c7c;}
input[type="text"]:-input-placeholder {color:#7e7c7c;}
input[type="text"]:-ms-input-placeholder {color:#7e7c7c;}
input[type="text"]::-moz-input-placeholder {color:#7e7c7c;}


button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}



.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #f7323f;
  border-color: transparent;
  color: #fff;
}

.pc > .visual{
	margin: 0 auto;
}


.pc > .visual .hpTop{
	width: 1024px;
	height: 450px;
	padding: 150px 0 0 319px;
}

.pc > .visual > .hpTop > .hpTLeft,
.pc > .visual > .hpTop > .hpTRight{
	overflow:hidden;
	line-height: 200%;
}

.pc > .visual > .hpTop  > .hpTLeft {
	float:left;
	width:45%;
	
}

.pc > .visual > .hpTop  > .hpTRight{
	float:right;
	width:45%;
}

.pc > .visual .hpNav{
	width: 1024px;
	height: 55px;
	margin: 0 0 0 319px;
	
}


/* 아래는 hpNav detail  */

.hpNav .inner {
	overflow:hidden;
	position:relative;
	border-bottom:1px solid #c4c4c4;
}
.hpNav .inner button{
	/*float:left;*/
	/*line-height: 40px; */
	margin-right:30px;	
}

.hpNav .inner button.selected{
	font-weight:700; 
	color: #f7323f;
	border-bottom:3px solid #f7323f;
}


/*.hpNav > .inner*/

.reserBtn{
	cursor:pointer; 
	width:150px; 
	height:55px; 
	font-size:20px; 
	color:#111; 
	background-color: transparent;
	border-color:transparent; 
	padding:0 10px;
}
.reserBtn.clicked {
	font-weight:700;
	color:#f7323f; 
	border-bottom:3px solid #f7323f;
}


.infoBtn{
	cursor:pointer; 
	width:120px; 
	height:55px; 
	font-size:20px; 
	color:#111; 
	background-color: transparent;
	border-color:transparent; 
	padding:0 10px;
}
.infoBtn.clicked {
	font-weight:700;
	color:#f7323f; 
	border-bottom:3px solid #f7323f;
}


.revBtn{
	cursor:pointer; 
	width:100px; 
	height:55px; 
	font-size:20px; 
	color:#111; 
	background-color: transparent;
	border-color:transparent; 
	padding:0 10px;
}
.revBtn.clicked {
	font-weight:700;
	color:#f7323f; 
	border-bottom:3px solid #f7323f;
}


main {
	margin:0 auto;
	padding: 50px 0 0 320px;
}

main .resPage #calendars{
	margin-bottom:50px;
}

 table {
    width: 1024px;
    height: 270px;
  	margin-bottom: 20px;
}


 table> tbody> tr {
    border-width:2px;
  	border-style:solid;
  	border-color:#E6E6E6;
  	padding-left: 50px;
  	font-size: 20px;
}

table> tbody> tr > td:nth-child(1) img{
	margin: 0 20px;
}

table> tbody> tr > td:nth-child(2) {
   padding-bottom:40px;
   line-height: 145%;
   position: relative;
 
}

 table> tbody> tr > td:nth-child(2) .room{
	 height: 120px;
	 border-bottom:1px solid #ddd;
	 margin-right:30px;
	 position: relative;
 }

 table> tbody> tr > td:nth-child(2) .room > h2 {
   font-size:27px;
}

 table> tbody> tr > td:nth-child(2) .room > b > span {
	 display: inline-block;
	position:absolute;
	bottom: 5px;
    right: 5px;
	font-size: 22px;
	padding-bottom:15px;
 }
 
  table> tbody> tr > td:nth-child(2) button {
	 width: 500px;
	 height:40px;
	 font-size:20px; 
	color:#fff; 
	background-color: #f7323f;
	border-color:transparent; 
	border-radius: 5px;
	padding:0 10px;
	position: absolute;
	left:85px;
	bottom:25px;
	
 }







