@charset "UTF-8";

*{outline:0}
html,body{font-family:'Pretendard', 'Apple SD Gothic Neo', '맑은 고딕', '맑은고딕', 'Malgun Gothic', sans-serif;font-size:14px;line-height:1;color:rgba(0,0,0,0.87);-webkit-text-size-adjust:none} /* 폰트크기 자동조절 제거 */
input::-ms-clear, input::-ms-reveal{display:none} /* IE - select arrow remove */
img{border:0;vertical-align:top;-webkit-touch-callout:none} /* 이미지 터치 팝업 제거 */
a,input,button,div,li,textarea,form,label,select{-webkit-tap-highlight-color:rgba(0,0,0,0)} /* 하이라이트 제거 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;box-sizing: border-box;}
ul,ol,li{list-style:none}
fieldset,img{border:0}
a{text-decoration:none}
address,caption,em,var{font-style:normal;font-weight:normal}
textarea,button,input,select{appearance:none;-webkit-appearance:none;-moz-appearance:none;border-radius:0;font-family:'Pretendard', 'Apple SD Gothic Neo', '맑은 고딕', '맑은고딕', 'Malgun Gothic', sans-serif;}
button{padding:0;cursor:pointer}
button:focus,button:active{padding: 0;}
button span{position: relative;}
select::-ms-expand{display:none}
table{border-collapse:collapse;border-spacing:0}
label{cursor:pointer}

/* Common */
.wrap {
	width: 100%;
	background: #fff;
}
.inp_type_1 input::placeholder {color: rgba(0,0,0,0.24);}
/*
#content {
	overflow: hidden
}

.ellip {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.mb_0 {
	margin-bottom: 0 !important
}

.pt_0 {
	padding-top: 0 !important
}

.ovy_hide {
	overflow-y: hidden
}

.col_red {
	color: rgb(242, 17, 76) !important
}

.col_mint {
	color: rgb(2, 134, 118) !important
}

.bdb_none {
	border-bottom: none !important
}
*/

@media all and (max-width:320px) {

	/* Min Width (해상도 320px 이하일때 고정) */
	.wrap {
		width: 320px
	}
}

/*전체*/
.login {display: block; top: 0; right: 0; bottom: 0; left: 0; z-index: 400; width: 100%; height: 100%; 
background: #fff; font-size: 14px; line-height: 22px; color: rgba(0, 0, 0, 0.87);}
.login section {width: 336px; margin: 100px auto 0 auto;}

/*로고*/
.login .fix_title { position: relative; width: 100%; height: 44px; 
margin-bottom: 16px; background: #fff; border-bottom: none; font-size: 18px; line-height: 44px; text-align: center;}
.login .fix_title .logo {display: inline-block; width: 112px; height: 44px; 
background: url(../img/저기어때.png) 50% 50% no-repeat; background-size: 112px 23px;}
.login .fix_title .logo a {display: block; text-indent: -9999px;}

/*버튼 공통*/
.login button {
    border: none;
}

/*카카오톡 버튼*/
.login .btn_start {display: block; position: relative; margin-bottom: 8px; border-radius: 4px; text-align: center; 
width: 100%; height: 56px; font-size: 16px; line-height: 56px;}
.login .btn_kakao { background: rgb(252,229,30); color: rgb(59,29,20);}
.login .btn_start span i {line-height: 54px; vertical-align: top; width: 32px; position: relative; top: 1px; 
padding-right: 7px; font-size: 26px;}

/*또는*/
.space_or {height: 56px; margin-bottom: 8px; position: relative;}
.space_or span {
    width: 60px;
    height: 56px;
    margin: 0 0 0 -25px;
    font-size: 16px;
    line-height: 56px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10;
    background: #fff;
    color: rgba(0,0,0,0.38);
    text-align: center;
}

.space_or:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,0.08);
}

/*아이디 비번*/
.inp_type_1 {
    height: 48px;
    padding: 0 16px 0 46px;
        position: relative;
    margin-bottom: 8px;
    border: 1px solid rgba(0,0,0,0.26);
    border-radius: 4px;
    box-sizing: border-box;
}

.inp_type_1 input {
    position: relative;
    top: 11px;
    width: 100%;
    height: 24px;
    font-size: 18px;
    padding: 0;
    border: none;
    vertical-align: top;
}

/*초기화 버튼*/
.reset_val {
    visibility: hidden;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 14px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: url(//image.goodchoice.kr/images/web_v3/ico_reset.png) 50% 50% no-repeat;
    background-size: 20px auto;
    text-indent: -9999px;
}
.reset_val.show {
    visibility: visible;
}

/*에러 문구 - inp_error 추가됨*/
.inp_error {
    margin-bottom: 37px;
    border: 1px solid rgb(230,28,81) !important;
}
.inp_error span, .inp_error label {
    display: block !important;
    position: absolute;
    line-height: 1;
    top: 54px;
    left: 0;
    font-size: 15px;
}

/*아이콘 설정*/

/*아이디 아이콘 설정*/
.ico_email:after, .ico_email.inp_focus:after, .ico_email.inp_error:after {top: 15px;left: 15px;}
.ico_email:after {
    display: inline-block;
    content: '';
    position: absolute;
    /* top: 12px; */
    /* left: 11px; */
    width: 18px;
    height: 14px;
    background: url(//image.goodchoice.kr/images/web_v3/ico_inp_mail.png) 0 0 no-repeat;
    background-size: 18px auto;
}
.ico_email.inp_focus:after{display:inline-block; content:''; position:absolute; width:18px; height:14px; 
background:url('//image.goodchoice.kr/images/web_v3/ico_inp_mail.png') 0 -14px no-repeat; background-size:18px auto}
.ico_email.inp_error:after {
    display: inline-block;
    content: '';
    position: absolute;
    /* top: 12px; */
    /* left: 11px; */
    width: 18px;
    height: 14px;
    background: url(//image.goodchoice.kr/images/web_v3/ico_inp_mail.png) 0 -28px no-repeat;
    background-size: 18px auto;
}

/*비번 아이콘 설정*/
.ico_pw:after, .ico_pw.inp_focus:after, .ico_pw.inp_error:after {top: 15px;left: 15px;}
.ico_pw:after{display:inline-block;content:''; position:absolute; width:18px; height:15px; 
background:url('//image.goodchoice.kr/images/web_v3/ico_inp_pw.png') 50% 0 no-repeat; background-size:14px auto}
.ico_pw.inp_focus:after{display:inline-block; content:''; position:absolute; width:18px; height:15px; 
background:url('//image.goodchoice.kr/images/web_v3/ico_inp_pw.png') 50% -15px no-repeat; background-size:14px auto}
.ico_pw.inp_error:after{display:inline-block; content:''; position:absolute; width:18px; height:15px;
background:url('//image.goodchoice.kr/images/web_v3/ico_inp_pw.png') 50% -30px no-repeat; background-size:14px auto}

/*로그인 버튼*/
.login .btn_link {
	height: 56px;
	font-size: 16px;
	line-height: 56px;
	display: block;
	width: 100%;
	margin-top: 16px;
	border-radius: 6px;
	color: #fff;
	text-align: center;
	border: none;
}
.gra_left_right_red {
    background: linear-gradient(to right, rgba(255,0,85,1) 1%,rgba(230,34,67,1) 100%);
}

/* */
.login .link_half {
    overflow: hidden;
    position: relative;
    height: 56px;
    margin-top: 9px;
}

.login .link_half div {
    height: 56px;
    display: inline-block;
    float: left;
    width: 50%;
    text-align: center;
}


.login .link_half div button, .login .link_half div a {
    height: 56px;
    font-size: 16px;
    line-height: 56px;
    height: 40px;
    background: none;
    color: rgba(0,0,0,0.87);
    vertical-align: top;
}

.login .link_half:after {
    display: inline-block;
    content: '';
    position: absolute;
    top: 21px;
    left: 50%;
    width: 1px;
    height: 16px;
    background: rgba(0,0,0,0.08);
}