@charset "UTF-8";

@import url('admin.css'); 
@import url('nav.css');
@import url('sub.css'); 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html,body{word-break:keep-all; font-size:16px; color:#2f2c28; font-weight:300;}
body,h1,h2,h3,h4,h5,h6,p,table,tr,th,td,ul,li,ol{padding:0; margin:0; font-family: 'Noto Sans KR';}
table{border-collapse:collapse; border-spacing:0;}
a{color:#454545; text-decoration:none;}
img{border:0;}
ul,li,ol{list-style:none;}

/* float */
.float_l{float:left !important;}
.float_r{float:right !important;}
.float_clear{clear:both !important;}

/*form-공통*/
input,
select,
textarea,
button{vertical-align:middle;}
input:focus{outline:none;}
select:focus{outline:none;}
textarea:focus{outline:none;}

input[type="text"]{width:100%; height:45px; border:1px solid #ddd; padding:0 20px; box-sizing:border-box; -webkit-box-sizing:border-box; font-size:16px; color:#222;}
input[type="text"]::-webkit-input-placeholder {color:#7e7c7c;}
input[type="text"]:-input-placeholder {color:#7e7c7c;}
input[type="text"]:-ms-input-placeholder {color:#7e7c7c;}
input[type="text"]::-moz-input-placeholder {color:#7e7c7c;}

input[type="password"]{width:100%; height:45px; border:1px solid #ddd; padding:0 20px; box-sizing:border-box; -webkit-box-sizing:border-box; font-size:16px; color:#222;}
input[type="password"]::-webkit-input-placeholder {color:#7e7c7c;}
input[type="password"]:-input-placeholder {color:#7e7c7c;}
input[type="password"]:-ms-input-placeholder {color:#7e7c7c;}
input[type="password"]::-moz-input-placeholder {color:#7e7c7c;}

select{width:100px; height:45px; border:1px solid #ddd; padding:0 10px; background:url(arrow.png) no-repeat 95% 50%; font-size:16px; color:#222; box-sizing:border-box; -webkit-box-sizing:border-box; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;appearance:none;}
select::-ms-expand{display: none;}

textarea{width:100%; height:250px; border:1px solid #ddd; padding:20px; font-size:16px; box-sizing:border-box; -webkit-box-sizing:border-box;}


.form_w5 {width:5% !important;}
.form_w10 {width:10% !important;}
.form_w15 {width:15% !important;}
.form_w20 {width:20% !important;}
.form_w25 {width:25% !important;}
.form_w30 {width:30% !important;}
.form_w35 {width:35% !important;}
.form_w40 {width:40% !important;}
.form_w45 {width:45% !important;}
.form_w50 {width:50% !important;}
.form_w55 {width:55% !important;}
.form_w60 {width:60% !important;}
.form_w65 {width:65% !important;}
.form_w70 {width:70% !important;}
.form_w75 {width:75% !important;}
.form_w80 {width:80% !important;}
.form_w85 {width:85% !important;}
.form_w90 {width:90% !important;}
.form_w95 {width:95% !important;}
.form_w100 {width:100% !important;}
/*!important; 명령 1순위*/


/* margin */
.mt_0 {margin-top:0px !important;}
.mt_5 {margin-top:5px !important;}
.mt_10 {margin-top:10px !important;}
.mt_15 {margin-top:15px !important;}
.mt_20 {margin-top:20px !important;}
.mt_25 {margin-top:25px !important;}
.mt_30 {margin-top:30px !important;}
.mt_35 {margin-top:35px !important;}
.mt_40 {margin-top:40px !important;}
.mt_45 {margin-top:45px !important;}
.mt_50 {margin-top:50px !important;}
.mt_55 {margin-top:55px !important;}
.mt_60 {margin-top:60px !important;}
.mt_65 {margin-top:65px !important;}
.mt_70 {margin-top:70px !important;}
.mt_75 {margin-top:75px !important;}
.mt_80 {margin-top:80px !important;}
.mt_85 {margin-top:85px !important;}
.mt_90 {margin-top:90px !important;}
.mt_95 {margin-top:95px !important;}
.mr_0 {margin-right:0px !important;}
.mr_5 {margin-right:5px !important;}
.mr_10 {margin-right:10px !important;}
.mr_15 {margin-right:15px !important;}
.mr_20 {margin-right:20px !important;}
.mr_25 {margin-right:25px !important;}
.mr_30 {margin-right:30px !important;}
.mr_35 {margin-right:35px !important;}
.mr_40 {margin-right:40px !important;}
.mr_45 {margin-right:45px !important;}
.mr_50 {margin-right:50px !important;}
.mr_55 {margin-right:55px !important;}
.mr_60 {margin-right:60px !important;}
.mb_0 {margin-bottom:0px !important;}
.mb_5 {margin-bottom:5px !important;}
.mb_10 {margin-bottom:10px !important;}
.mb_15 {margin-bottom:15px !important;}
.mb_20 {margin-bottom:20px !important;}
.mb_25 {margin-bottom:25px !important;}
.mb_30 {margin-bottom:30px !important;}
.mb_35 {margin-bottom:35px !important;}
.mb_40 {margin-bottom:40px !important;}
.mb_45 {margin-bottom:45px !important;}
.mb_50 {margin-bottom:50px !important;}
.mb_55 {margin-bottom:55px !important;}
.mb_60 {margin-bottom:60px !important;}
.ml_0 {margin-left:0px !important;}
.ml_5 {margin-left:5px !important;}
.ml_10 {margin-left:10px !important;}
.ml_15 {margin-left:15px !important;}
.ml_20 {margin-left:20px !important;}
.ml_25 {margin-left:25px !important;}
.ml_30 {margin-left:30px !important;}
.ml_35 {margin-left:35px !important;}
.ml_40 {margin-left:40px !important;}
.ml_45 {margin-left:45px !important;}
.ml_50 {margin-left:50px !important;}
.ml_55 {margin-left:55px !important;}
.ml_60 {margin-left:60px !important;}


/* padding */
.pt_0 {padding-top:0px !important;}
.pt_5 {padding-top:5px !important;}
.pt_10 {padding-top:10px !important;}
.pt_15 {padding-top:15px !important;}
.pt_20 {padding-top:20px !important;}
.pt_25 {padding-top:25px !important;}
.pt_30 {padding-top:30px !important;}
.pt_35 {padding-top:35px !important;}
.pt_40 {padding-top:40px !important;}
.pt_45 {padding-top:45px !important;}
.pt_50 {padding-top:50px !important;}
.pt_55 {padding-top:55px !important;}
.pt_60 {padding-top:60px !important;}
.pr_0 {padding-right:0px !important;}
.pr_5 {padding-right:5px !important;}
.pr_10 {padding-right:10px !important;}
.pr_15 {padding-right:15px !important;}
.pr_20 {padding-right:20px !important;}
.pr_25 {padding-right:25px !important;}
.pr_30 {padding-right:30px !important;}
.pr_35 {padding-right:35px !important;}
.pr_40 {padding-right:40px !important;}
.pr_45 {padding-right:45px !important;}
.pr_50 {padding-right:50px !important;}
.pr_55 {padding-right:55px !important;}
.pr_60 {padding-right:60px !important;}
.pb_0 {padding-bottom:0px !important;}
.pb_5 {padding-bottom:5px !important;}
.pb_10 {padding-bottom:10px !important;}
.pb_15 {padding-bottom:15px !important;}
.pb_20 {padding-bottom:20px !important;}
.pb_25 {padding-bottom:25px !important;}
.pb_30 {padding-bottom:30px !important;}
.pb_35 {padding-bottom:35px !important;}
.pb_40 {padding-bottom:40px !important;}
.pb_45 {padding-bottom:45px !important;}
.pb_50 {padding-bottom:50px !important;}
.pb_55 {padding-bottom:55px !important;}
.pb_60 {padding-bottom:60px !important;}
.pl_0 {padding-left:0px !important;}
.pl_5 {padding-left:5px !important;}

/* padding */
.pt_0 {padding-top:0px !important;}
.pt_5 {padding-top:5px !important;}
.pt_10 {padding-top:10px !important;}
.pt_15 {padding-top:15px !important;}
.pt_20 {padding-top:20px !important;}
.pt_25 {padding-top:25px !important;}
.pt_30 {padding-top:30px !important;}
.pt_35 {padding-top:35px !important;}
.pt_40 {padding-top:40px !important;}
.pt_45 {padding-top:45px !important;}
.pt_50 {padding-top:50px !important;}
.pt_55 {padding-top:55px !important;}
.pt_60 {padding-top:60px !important;}
.pr_0 {padding-right:0px !important;}
.pr_5 {padding-right:5px !important;}
.pr_10 {padding-right:10px !important;}
.pr_15 {padding-right:15px !important;}
.pr_20 {padding-right:20px !important;}
.pr_25 {padding-right:25px !important;}
.pr_30 {padding-right:30px !important;}
.pr_35 {padding-right:35px !important;}
.pr_40 {padding-right:40px !important;}
.pr_45 {padding-right:45px !important;}
.pr_50 {padding-right:50px !important;}
.pr_55 {padding-right:55px !important;}
.pr_60 {padding-right:60px !important;}
.pb_0 {padding-bottom:0px !important;}
.pb_5 {padding-bottom:5px !important;}
.pb_10 {padding-bottom:10px !important;}
.pb_15 {padding-bottom:15px !important;}
.pb_20 {padding-bottom:20px !important;}
.pb_25 {padding-bottom:25px !important;}
.pb_30 {padding-bottom:30px !important;}
.pb_35 {padding-bottom:35px !important;}
.pb_40 {padding-bottom:40px !important;}
.pb_45 {padding-bottom:45px !important;}
.pb_50 {padding-bottom:50px !important;}
.pb_55 {padding-bottom:55px !important;}
.pb_60 {padding-bottom:60px !important;}
.pl_0 {padding-left:0px !important;}
.pl_5 {padding-left:5px !important;}

