<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.care.stay.inquiry.InquiryMapper">
	<resultMap type="com.care.stay.inquiry.InquiryDTO" id="inquiryDto">
		<result column="room_type" property="room_type"/>
		<result column="name" property="name"/>
		<result column="num" property="num"/>
		<result column="content" property="content"/>
	</resultMap>
	
	<select id="inquiryForm" resultMap="inquiryDto">
		SELECT BBB.* FROM 
		(SELECT ROWNUM() as rn, AAA.* FROM 
		(SELECT , room_type, name, num, content FROM stay_inquiry ORDER BY no DESC)AAA)BBB
		WHERE BBB.rn BETWEEN #{begin} AND #{end}
	</select>
</mapper>