<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.care.stay.motel.MotelMapper">

	<resultMap type="com.care.stay.motel.MotelDTO" id="motelDto">
		<id column="no" property="no"/>																		
	</resultMap>
	
	<resultMap type="com.care.stay.motel.MotelRoomDTO" id="motelroomDto">
		<id column="mroomcode" property="mroomcode"/>
	</resultMap>

	<select id="stayContent" resultMap="motelDto">
		SELECT * FROM motel WHERE no=#{no}
	</select>
	
	<select id="stayModify" resultMap="motelDto">
		SELECT * FROM motel WHERE no=#{no}
	</select>
	
	<select id="stayModifyProc" resultMap="motelDto">
		UPDATE motel SET mname=#{mname}, mregion=#{mregion}, mdetailregion=#{mdetailregion}, maddress=#{maddress}, mdetailaddress=#{mdetailaddress}, 
		mimage=#{mimage}, minfo=#{minfo}, mdaesilcheckin=#{mdaesilcheckin}, mdaesilcheckout=#{mdaesilcheckout}, mdaeesiltime=#{mdaesiltime}, 
		mstaycheckin=#{mstayCheckIn}, mstaycheckout=#{mstayCheckOut} WHERE no=#{no}
	</select>
	
	<select id="stayRoomContent" resultMap="motelroomDto">
		SELECT * FROM motelroom WHERE no=#{no}
	</select>
	
	<select id="stayReservation" resultMap="motelroomDto">
		SELECT * FROM motelroom WHERE mroomcode=#{mroomcode}
	</select>	
	
	<select id="stayDetailRegister" resultMap="motelDto">
		SELECT * FROM motel WHERE no=#{no}
	</select>

	<select id="count">
	  	SELECT count(no) FROM motel
	</select>
	
	<select id="motelroomcount">
		SELECT COALESCE(nvl(max(mroomcode),0) + 1, 0) FROM motelroom
	</select>
	
	<select id="stayCountMotel" resultType="int">
	  	SELECT COALESCE(nvl(max(no),0) + 1, 0) FROM motel
	</select>
	
	<insert id="stayregisterProc" parameterType="com.care.stay.motel.MotelDTO">
		<selectKey order="BEFORE" keyProperty="no" resultType="int">
			SELECT nvl(max(no),0) + 1 FROM motel
		</selectKey>
		INSERT INTO motel (no, mcode, mname, mregion, mdetailregion, mrating, maddress, mdetailaddress, mimage, minfo, mdaesilcheckin, mdaesilcheckout, mdaesiltime, mstaycheckin, mstaycheckout ) 
		VALUES(#{no}, 'M', #{mname}, #{mregion}, #{mdetailregion}, 0, #{maddress}, #{mdetailaddress}, #{mimage}, #{minfo}, #{mdaesilcheckin}, #{mdaesilcheckout}, #{mdaesiltime}, #{mstaycheckin}, #{mstaycheckout} )
	</insert>
	
	<select id="stayInfo" resultMap="motelDto">
		SELECT BBB.* FROM 
		(SELECT rownum as rn, AAA.* FROM 
		(SELECT no, mcode, mname, mregion, maddress FROM motel ORDER BY no DESC)AAA)BBB
		WHERE BBB.rn BETWEEN #{begin} AND #{end}
	</select>

	<insert id="staydetailregisterProc" parameterType="com.care.stay.motel.MotelRoomDTO">
		INSERT INTO motelroom (no, mcode, mroomname, mroomcode, mroomimage, mroomnumber, mdaesilprice, mstayprice, moption)
		VALUES(#{no}, #{mcode}, #{mroomname}, #{mroomcode}, #{mroomimage}, #{mroomnumber}, #{mdaesilprice}, #{mstayprice}, #{moption})
	</insert>
	
  	<select id="motellist" resultMap="motelDto">
		SELECT BBB.* FROM 
		(SELECT ROWNUM as rn, AAA.* FROM 
		(SELECT no, mcode, mname, mregion, mdetailregion, mrating, maddress, mdetailaddress, 
		mimage, minfo, mdaesilcheckin, mdaesilcheckout, mdaesiltime, mstaycheckin, mstaycheckout
		FROM motel ORDER BY no DESC)AAA)BBB
		WHERE BBB.rn BETWEEN #{begin} AND #{end}
	</select>  	
	
</mapper>
