<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.stay.member.MemberMapper">
	<resultMap type="com.care.stay.member.MemberDTO"
		id="memberDto">
		<id column="id" property="id" />
		<result column="password" property="password" />
		<result column="mobile" property="mobile" />
		<result column="name" property="name" />
		<result column="nickname" property="nickname" />
		<result column="authority" property="authority" />
	</resultMap>

	<select id="loginProc" resultMap="memberDto">
		SELECT * FROM member WHERE
		id=#{id}
	</select>

	<select id="serchNickname" resultMap="memberDto">
		SELECT * FROM member WHERE
		nickname=#{nickname}
	</select>

	<insert id="registerProc"
		parameterType="com.care.stay.member.MemberDTO">
		INSERT INTO member VALUES(#{id}, #{password}, #{mobile},
		'', #{nickname}, #{authority})
	</insert>

	<select id="getMobile" resultMap="memberDto">
		SELECT mobile FROM member WHERE
		id=#{id}
	</select>

	<update id="passwdReset"
		parameterType="com.care.stay.member.MemberDTO">
		UPDATE member
		SET password=#{password}
		WHERE id=#{id}
	</update>

	<select id="countAll">
		SELECT count(id) FROM member
	</select>

	<select id="count1">
		SELECT count(id) FROM member WHERE
		#{optionName}=#{option}
	</select>

	<select id="count2">
		SELECT count(id) FROM member WHERE
		(#{option1Name}=#{option1} AND #{option1Name}=#{option1})
	</select>
	
	<select id="count">
		<choose>
			<when test="select == 'id'">
				SELECT count(id) FROM session_exam WHERE id like '%'||#{search}||'%'
			</when>
			<when test="select == 'email'">
				SELECT count(id) FROM session_exam WHERE email like '%'||#{search}||'%'
			</when>
			<otherwise>
				SELECT count(id) FROM session_exam
			</otherwise>
		</choose>
	</select>
	
	<select id="selectAll" resultType="com.care.dbBasic.MemberDTO">
		<choose>
			<when test="select == 'id'">
				SELECT AAA.* FROM
				(SELECT rownum as rn, id, pw, name,
				email
				FROM session_exam WHERE id like '%'||#{search}||'%')AAA
				WHERE
				AAA.rn BETWEEN #{begin} AND #{end}
			</when>
			<when test="select == 'email'">
				SELECT AAA.* FROM
				(SELECT rownum as rn, id, pw, name,
				email
				FROM session_exam WHERE email like '%'||#{search}||'%')AAA
				WHERE AAA.rn BETWEEN #{begin} AND #{end}
			</when>
			<otherwise>
				SELECT AAA.* FROM
				(SELECT rownum as rn, id, pw, name, email
				FROM session_exam )AAA
				WHERE AAA.rn BETWEEN #{begin} AND #{end}
			</otherwise>
		</choose>
	</select>

	<select id="stayUser" resultMap="memberDto">
		SELECT BBB.* FROM
		(SELECT ROWNUM
		as rn, AAA.* FROM (SELECT id, mobile, name, nickname, authority FROM
		member)AAA)BBB WHERE BBB.rn BETWEEN #{begin} AND #{end}
	</select>

</mapper>