<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.care.stay.hotel.HotelMapper">
	<resultMap type="com.care.stay.hotel.HotelDTO" id="HotelDto">
		<id column="no" property="no"/>
		<result column="hcode" property="hcode"/>
		<result column="hname" property="hname"/>
		<result column="hregion" property="hregion"/>
		<result column="hdetailregion" property="hdetailregion"/>
		<result column="hrating" property="hrating"/>
		<result column="haddress" property="haddress"/>
		<result column="hdetailaddress" property="hdetailaddress"/>
		<result column="himage" property="himage"/>
		<result column="hinfo" property="hinfo"/>
		<result column="hcheckintime" property="hcheckintime"/>
		<result column="hcheckouttime" property="hcheckouttime"/>
		<result column="htype" property="htype"/>
		<result column="minprice" property="minprice"/>
		<collection property="rooms" resultMap="HotelRoomDto" />
	</resultMap> 

	
	
 	 <resultMap type="com.care.stay.hotel.HotelRoomDTO" id="HotelRoomDto">
        <result  column="no" property="no" />
        <result  column="hcode" property="hcode" />
        <result  column="hroomcode" property="hroomcode" />
        <result  column="hroomname" property="hroomname" />
        <result  column="hbedtype" property="hbedtype" />
        <result  column="hroomimage" property="hroomimage" />
        <result  column="hroomnumber" property="hroomnumber" />
        <result  column="hprice" property="hprice" />
        <result  column="hpeople" property="hpeople" />
        <result  column="hcomfort" property="hcomfort" />
    </resultMap>
    


	 
	 
	  <resultMap type="com.care.stay.reservation.ReservationDTO" id= "ReservationDto">
        <result  column="no" property="no" />
        <result  column="stayno" property="stayno" />
        <result  column="stayname" property="stayname" />
        <result  column="roomname" property="roomname" />
        <result  column="code" property="code" />
        <result  column="roomcode" property="roomcode" />
        <result  column="roomimage" property="roomimage" />
        <result  column="checkindate" property="checkindate" />
        <result  column="checkoutdate" property="checkoutdate" />
        <result  column="checkintime" property="checkintime" />
        <result  column="checkouttime" property="checkouttime" />
        <result  column="id" property="id" />
        <result  column="name" property="name" />
        <result  column="price" property="price" />
        <result  column="paymethod" property="paymethod" />
        <result  column="status" property="status" />
    </resultMap>
	 


<!--  전체 다 나오는 코드인데 처음부터 지역 지정해서 하는 코드로 바꿔보려함! (아래) -->
  	<!-- <select id="hotellist" resultMap="HotelDto">
		SELECT BBB.* FROM 
		(SELECT ROWNUM as rn, AAA.* FROM 
		(SELECT no, hcode, hname, hregion, hdetailregion, hrating, haddress, hdetailaddress, 
		himage, hinfo, hcheckintime, hcheckouttime, htype
		FROM hotel ORDER BY no DESC)AAA)BBB
		WHERE BBB.rn BETWEEN #{begin} AND #{end}
	</select>   -->
	
		<!-- 지역별로 나오게하기  -->
 	<select id="Main" resultMap="HotelDto">
		SELECT BBB.* FROM 
		(SELECT ROWNUM as rn, AAA.* FROM 
		(SELECT no, hcode, hname, hregion, hdetailregion, hrating, haddress, hdetailaddress, 
		himage, hinfo, hcheckintime, hcheckouttime, htype
		FROM hotel WHERE hdetailregion = #{selectedText})AAA)BBB
		WHERE BBB.rn BETWEEN #{begin} AND #{end}
	</select>  

 
   <select id="MainCheck" resultMap="HotelDto">
  	 SELECT h.*,
			hr.*
	 FROM hotel h 
	 JOIN hotelroom hr  ON hr.hcode = h.hcode and hr.no = h.no
  	WHERE h.hdetailregion = #{selectedText}
		  	 <if test="htype != ''">
		  	 AND h.htype = #{htype}
		  	  </if>
         <if test="hbedtype != ''">
	   		AND(
	       <bind name="hbedtypeArray" value="hbedtype.split(',')" />
            hr.hbedtype IN
            <foreach item="bedtype" collection="hbedtypeArray" open="(" separator="," close=")">
                #{bedtype}
          	</foreach>)
	    </if>
	    <if test="hcomfort != ''">
	    AND 
	      <bind name="hcomfortArray" value="hcomfort.split(',')" />
	      <foreach item="comfort" collection="hcomfortArray" open="(" separator="or" close=")">
       		 hr.hcomfort LIKE CONCAT('%'|| #{comfort}, '%')
        </foreach>
        </if>
        AND hr.hpeople >= #{hpeople}
 
	</select>    
	
	<select id="resNum">
	SELECT count(*) FROM reservation WHERE code = #{hcode} AND stayno = #{no} AND roomcode = #{hroomcode} AND ((checkindate >= #{checkindate} AND #{checkoutdate} >= checkoutdate) OR ( #{checkindate} >= checkindate AND checkoutdate >= #{checkindate}) OR (#{checkoutdate} >= checkindate  AND checkoutdate >= #{checkoutdate}))
	</select> 
	
	<select id="count">
	  	SELECT count(no) FROM hotel
	</select>

	 <resultMap type="com.care.stay.hotel.HotelDTO" id="hotelDto">
		<id column="no" property="no"/>																		
	</resultMap>
	
	<resultMap type="com.care.stay.hotel.HotelRoomDTO" id="hotelroomDto">
		<id column="hroomcode" property="hroomcode"/>
	</resultMap>
	
	<select id="stayContent" resultMap="hotelDto">
		SELECT * FROM hotel WHERE no=#{no}
	</select>
	
	<select id="roomContent" resultMap="hotelroomDto">
		SELECT * FROM hotelroom WHERE hroomcode=#{hroomcode}
	</select>
	
	<select id="stayModify" resultMap="hotelDto">
		SELECT * FROM hotel WHERE no=#{no}
	</select>
	
	<select id="stayRoomContent" resultMap="hotelroomDto">
		SELECT * FROM hotelroom WHERE no=#{no}
	</select>
	
	<select id="stayReservation" resultMap="hotelroomDto">
		SELECT * FROM hotelroom WHERE hroomcode=#{hroomcode}
	</select>
	
	<select id="stayDetailRegister" resultMap="hotelDto">
		SELECT * FROM hotel WHERE no=#{no}
	</select>

	<select id="hotelroomcount" resultType="int">
		SELECT COALESCE(nvl(max(hroomcode),0) + 1, 0) FROM hotelroom
	</select>	
	
	<select id="stayCountHotel" resultType="int">
	  	SELECT COALESCE(nvl(max(no),0) + 1, 0) FROM hotel
	</select>	
	
	<insert id="stayregisterProc" parameterType="com.care.stay.hotel.HotelDTO">
		<selectKey order="BEFORE" keyProperty="no" resultType="int">
			SELECT nvl(max(no),0) + 1 FROM hotel
		</selectKey>
		INSERT INTO hotel (no, hcode, hname, hregion, hdetailregion, hrating, haddress, hdetailaddress, himage, hinfo, hcheckintime, hcheckouttime, htype) 
		VALUES(#{no}, 'H', #{hname}, #{hregion}, #{hdetailregion}, 0, #{haddress}, #{hdetailaddress}, #{himage}, #{hinfo}, #{hcheckintime}, #{hcheckouttime}, #{htype})
	</insert>
	
	<select id="stayInfo" resultMap="hotelDto">
		SELECT BBB.* FROM 
		(SELECT rownum as rn, AAA.* FROM 
		(SELECT no, hcode, hname, hregion, haddress FROM hotel ORDER BY no DESC)AAA)BBB
		WHERE BBB.rn BETWEEN #{begin} AND #{end}
	</select>

	<insert id="staydetailregisterProc" parameterType="com.care.stay.hotel.HotelRoomDTO">
		INSERT INTO hotelroom (no, hcode, hroomcode, hroomname, hbedtype, hroomimage, hroomnumber, hprice, hpeople, hcomfort)
		VALUES(#{no}, #{hcode}, #{hroomcode}, #{hroomname}, #{hbedtype}, #{hroomimage}, #{hroomnumber}, #{hprice}, #{hpeople}, #{hcomfort})
	</insert>
	
	<select id="findMinPriceByHotel" resultType="java.lang.Integer">
		SELECT COALESCE(MIN(hprice), 0) FROM hotelroom WHERE no = #{no}
	</select>	
	
	<select id="getAllHotels" resultType="com.care.stay.hotel.HotelDTO">
		SELECT * FROM hotel
	</select>

</mapper>
