<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.stay.reservation.ReservationMapper">
	<resultMap type="com.care.stay.reservation.ReservationDTO"
		id="ReservationDto">
		<id column="no" property="no" />
		<result column="stayno" property="stayno" />
		<result column="stayname" property="stayname" />
		<result column="roomname" property="roomname" />
		<result column="code" property="code" />
		<result column="roomcode" property="roomcode" />
		<result column="roomimage" property="roomimage" />
		<result column="checkindate" property="checkindate" />
		<result column="checkoutdate" property="checkoutdate" />
		<result column="checkintime" property="checkintime" />
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="price" property="price" />
		<result column="paymethod" property="paymethod" />
		<result column="status" property="status" />
	</resultMap>

	<select id="resConfirmed" resultMap="ReservationDto">
		SELECT * FROM reservation
		WHERE
		id=#{id} AND status='예약확정' ORDER BY checkindate DESC
	</select>

	<select id="resCompleted" resultMap="ReservationDto">
		SELECT * FROM reservation
		WHERE
		id=#{id} AND status='이용완료' ORDER BY checkindate DESC
	</select>

	<select id="resCancellation" resultMap="ReservationDto">
		SELECT * FROM reservation
		WHERE
		id=#{id} AND status='예약취소' ORDER BY checkindate DESC
	</select>
	
	<delete id="delete">
		DELETE FROM reservation WHERE no=#{no}
	</delete>

</mapper>
