<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.care.stay.gh.GHMapper">

	<resultMap type="com.care.stay.gh.GHDTO" id="ghDto">
		<id column="no" property="no"/>																		
	</resultMap>
	
	<resultMap type="com.care.stay.gh.GHRoomDTO" id="ghroomDto">
		<id column="groomCode" property="groomCode"/>
	</resultMap>

	<select id="stayContent" resultMap="ghDto">
		SELECT * FROM gh WHERE no=#{no}
	</select>
	
	<select id="stayRoomContent" resultMap="ghroomDto">
		SELECT * FROM ghroom WHERE no=#{no}
	</select>
	
	<select id="stayDetailRegister" resultMap="ghDto">
		SELECT * FROM gh WHERE no=#{no}
	</select>
	
	<select id="count">
	  	SELECT count(no) FROM gh
	</select>
	
	<select id="ghroomcount">
		SELECT COALESCE(nvl(max(groomcode),0) + 1, 0) FROM ghroom
	</select>	
	
	<select id="stayCountGuestHouse" resultType="int">
	  	SELECT COALESCE(nvl(max(no),0) + 1, 0) FROM gh
	</select>	
	
	<insert id="stayregisterProc" parameterType="com.care.stay.gh.GHDTO">
		<selectKey order="BEFORE" keyProperty="no" resultType="int">
			SELECT nvl(max(no),0) + 1 FROM gh
		</selectKey>
		INSERT INTO gh (no, gcode, gname, gregion, gdetailregion, grating, gaddress, gdetailaddress, gimage, ginfo, gcheckintime, gcheckouttime) 
		VALUES(#{no}, 'G', #{gname}, #{gregion}, #{gdetailRegion}, 0, #{gaddress}, #{gdetailAddress}, #{gimage}, #{ginfo}, #{gcheckInTime}, #{gcheckOutTime})
	</insert>
	
	<select id="stayInfo" resultMap="ghDto">
		SELECT BBB.* FROM 
		(SELECT rownum as rn, AAA.* FROM 
		(SELECT no, gcode, gname, gregion, gaddress FROM gh ORDER BY no DESC)AAA)BBB
		WHERE BBB.rn BETWEEN #{begin} AND #{end}
	</select>

	<insert id="staydetailregisterProc" parameterType="com.care.stay.gh.GHRoomDTO">
		INSERT INTO ghroom (no, gcode, groomcode, groomname, gbedtype, groomimage, groomnumber, gprice, gpeople, gcomfort)
		VALUES(#{no}, #{gcode}, #{groomCode}, #{groomName}, #{gbedType}, #{groomImage}, #{groomNumber}, #{gprice}, #{gpeople}, #{gcomfort})
	</insert>	
	
</mapper>
