<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.care.stay.gh.GHMapper">

	<resultMap type="com.care.stay.gh.GHDTO" id="ghDto">
		<id column="no" property="no"/>																		
	</resultMap>
	
	<resultMap type="com.care.stay.gh.GHRoomDTO" id="ghroomDto">
		<id column="groomcode" property="groomcode"/>
	</resultMap>
	
	<select id="stayCountGuestHouse" resultType="int">
	  	SELECT COALESCE(nvl(max(no),0) + 1, 0) FROM guesthouse
	</select>

	<select id="stayContent" resultMap="ghDto">
		SELECT * FROM guesthouse WHERE no=#{no}
	</select>
	
	<select id="stayRoomContent" resultMap="ghroomDto">
		SELECT * FROM guesthouseroom WHERE no=#{no}
	</select>
	
	<select id="stayDetailRegister" resultMap="ghDto">
		SELECT * FROM guesthouse WHERE no=#{no}
	</select>
	
	<insert id="stayregisterProc" parameterType="com.care.stay.gh.GHDTO">
		<selectKey order="BEFORE" keyProperty="no" resultType="int">
			SELECT nvl(max(no),0) + 1 FROM guesthouse
		</selectKey>
		INSERT INTO guesthouse (no, gcode, gname, gregion, gdetailregion, grating, gaddress, gdetailaddress, gimage, ginfo, gcheckintime, gcheckouttime, gpeople) 
		VALUES(#{no}, 'G', #{gname}, #{gregion}, #{gdetailRegion}, 0, #{gaddress}, #{gdetailAddress}, #{gimage}, #{ginfo}, #{gcheckintime}, #{gcheckouttime}, #{gpeople})
	</insert>
	
	<select id="stayInfo" resultMap="ghDto">
		SELECT BBB.* FROM 
		(SELECT rownum as rn, AAA.* FROM 
		(SELECT no, gcode, gname, gregion, gaddress FROM guesthouse ORDER BY no DESC)AAA)BBB
		WHERE BBB.rn BETWEEN #{begin} AND #{end}
	</select>

	<insert id="staydetailregisterProc" parameterType="com.care.stay.gh.GHRoomDTO">
		INSERT INTO hotelroom (no, gcode, groomcode, groomname, groomimage, groomnumber, gprice, gguide, gcomfort)
		VALUES(#{no}, #{gcode}, #{groomcode}, #{groomname}, #{groomimage}, #{groomnumber}, #{gprice}, #{gguide}, #{gcomfort})
	</insert>	
	
</mapper>
